
body{
    color: whitesmoke;
    background-color: rgb(51, 2, 73);
    text-align: center;
}

label{
    display: block;
}

#integrantes{
    margin-top: 20px;
}

input{
    max-width: 50px;
    text-align: center;
}

input:invalid{
    background-color: lightcoral;
}

button{
    border-radius: 25px;
}

#boton-calcular{
    margin-top: 15px;
}

